html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 223, 227);
}

.container {
  text-align: center;
  background-color: rgb(191, 207, 212);
  padding: 100px;
  padding-top: 50px;
  border-radius: 20px;
  border: solid 1px rgb(159, 202, 231);
  box-shadow: 0 10px 8px rgba(168, 210, 221, 0.1); /* Added box shadow */
}

form {
  margin-top: 60px; /* Adjust as needed */

}

.button {
  margin-top: 10px; /* Adjust as needed */
  margin-left: 15px;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

h1{
  margin-top: 0px;
  font-size: 25px;
}

p{
  font-size: 20px;
}

.inputBox{
  height: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 70%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    margin-top: 20px;
    font-size: 15px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(243, 223, 227);
  }
}
